# Dependencies
/node_modules
/client/node_modules

# Production build folders
/client/build

# Environment variables - THIS IS THE MOST IMPORTANT PART
.env
server/.env
client/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db